#admin { 
    min-height: calc(100vh - 108.91px);
    font-family: 'Lato', sans-serif; 
    padding-top: 40px;
}
#admin .profile-picture { 
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #BEBEBE;
}
#admin .profile-info { 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#admin .subtitle { 
    color: #808080;
    margin: 0px;
    text-transform: uppercase;
    font-weight: 600;
}
#admin h2 { 
    font-weight: 600;
    margin-bottom: 3px;
}
#new-shift select { 
    display: block; 
    width: 100%;
}
@media (min-width: 992px) {  
    #new-shift .form-content { 
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    #new-shift select { 
        display: block; 
        width: 150px;
    }
}
#admin .table-responsive::-webkit-scrollbar {
    width: 5px;
}
#admin .table-responsive::-webkit-scrollbar-track {
    background: #f1f1f1;
}
#admin .table-responsive::-webkit-scrollbar-thumb {
    background: #888;
}
#admin table td { 
    font-size: 14px;
}
#admin .table-responsive { 
    max-height: calc(100vh - 285px); 
    overflow-y: auto;
}
#new-shift h2 { 
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    color: #808080;
}

#new-shift #date-error { 
    color: #FF0000; 
    font-size: 12px; 
    font-weight: 600; 
    position: absolute;
}
#new-shift .btn-disabled { 
    background-color:#E8E8E8;
    color: #BEBEBE;
    pointer-events: none; 
    cursor: not-allowed;
    border-color: #E8E8E8;
}